*{
	list-style: none;
	margin: 0;
	border: 0;
	font-size: 12px;
}

#wrap{
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	width: 1000px;
	height: 600px;
}

.triangle{
	clear: both;
	margin-bottom: 50px;
}

li{
	/*width: 60px;*/
	height: auto;
	margin: 10px;
	float: left;
	line-height: 20px;
	overflow: hidden;
}


span{
	display: block;

}

#triangle-left{

	width: 0;
	height: 0;
	border-width: 20px;
	border-style: dashed dashed dashed solid; 
	border-color: transparent transparent transparent #e66161;
	display: inline-block;
	*display: block;
	_display: block;
}

#triangle-top{
	width: 0;
	height: 0;
	border-width: 20px; /* border:height*width| height width */
	border-style: solid dashed dashed dashed; /* solid:立方体; dashed:虚线 */
	border-color: #e66161 transparent transparent transparent; /* transparent:透明，共四个，可以写一个，表示左右; */
	display: inline-block; /* 因为span是 行内元素，成长方形，使用block成为块状元素，呈现默认的正方形，以便于转移到其他的不同方向的三角形，当使用块状元素时候，就不必用该样式了 */
	*display: block;
	_display: block;
} /* border-width设置大小，border-style设置形状，使用solid得到正方形，其他三面dashed虚线做切割, border-color: 做透明处理旁边的三个小三角; */


#triangle-right
{
	width: 0;
	height: 0;
	border-width: 20px;
	border-style: dashed solid dashed dashed;
	border-color: transparent #e66161 transparent transparent;
	display: inline-block;
	*display: block;
	_display: block;
}



#triangle-right-top-1
{
	width: 0;
	height: 0;
	border-width: 20px;
	/*margin: 5px;*/
	
	border-style: solid solid dashed dashed;	
	border-color: #e66161 #e66161 transparent transparent;
	display: inline-block;
	*display: block;
	_display: block;
}


#triangle-right-top-2
{
	width: 0;
	height: 0;
	border-top: 40px solid #e66161;
	border-left: 40px solid transparent; /* 在只有上、左边框时，没有其他内容时，该色块也能形成正方形，但是长度相应要长一些 */
	display: inline-block;
}

#triangle-right-top-lost
{
	width: 0;
	height: 0;
	border-width: 10px;
	padding: 10px;
	
	border-style: solid solid dashed dashed;	
	border-color: #e66161 #e66161 transparent transparent;
	display: inline-block;
	*display: block;
	_display: block;
}



/*聊天弹框*/
.message-box{
	width: 400px;
	height: 60px;
	background-color: #f66161;
	clear: both;
	margin-bottom: 50px;
	border: 2px solid #ff0000;
	border-radius: 10px;
	position: relative;
	text-align: center;
	line-height: 60px;
	box-shadow: rgba(0,0,0,.2) 2px -2px 3px 3px;
}

.msg-word{
	font-size: 16px;
	color: #ffffff;
}

/*利用border属性*/
.triangle-msg{
	width: 0;
	height: 0;
	border-width: 15px;
	/*border-style: dashed dashed dashed solid;*/ 
	/*使用该样式，在IE缩小下会发生三角裂嘴的情况*/ 
	border-style: solid;
	border-color: #ff0000 transparent transparent transparent;
	position: absolute;
	left: 40px;
	overflow: hidden;
}

.triangle-msg-d{
	bottom: -30px;

}

.triangle-msg-f{
	bottom: -28px;
	border-color: #f66161 transparent transparent transparent;
}

/*利用文本属性*/
.triangle-msg-word{
	font-family:'宋体';
	font-weight: bolder;
	font-size: 40px;
	position: absolute;
	left: 40px;
}

.triangle-msg-word-d{
	color: #ff0000;
	bottom: -32px;
}

.triangle-msg-word-f{
	color: #f66161;
	bottom: -30px;
}


/*利用CSS3特性*/
.triangle-msg-css3{
	width: 20px;
	height: 20px;
	background-color: #f66161;
	border: 2px solid;
	border-color: transparent #ff0000 #ff0000 transparent;
	transform: rotate(45deg);
	position: absolute;
	bottom: -12px;
	left: 40px;
}











