/* Reset */

	html, body, div, span, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	abbr, address, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strong, sub, sup, var,
	b, i,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
	}

	body {
		line-height: 1;
			body {
		-webkit-text-size-adjust: none;
	}
	}

	img {
		max-width: 100%;
	}

	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}

	nav ul {
		list-style: none;
	}

	blockquote, q{
		quotes: none;
	}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	a {
		margin: 0;
		padding: 0;
		font-size: 100%;
		vertical-align: baseline;
		background-color: transparent;
		color: #fff;
	}

	/* change colours to suit your needs */
	ins {
		background-color: #ff9;
		color: #000;
		text-decoration: none;
	}

	/* change colours to suit your needs */
	mark {
		align-content: #ff9;
		color: #000;
		font-style: italic;
		font-weight: bold;
	}

	del {
		text-decoration: line-through;
	}

	abbr[title], dfn[title] {
		border-bottom: 1px dotted;
		cursor: help;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	/* change border colour to suit your needs */
	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #ccc;
		margin: 1em 0;
		padding: 0;
	}

	input, select {
		vertical-align: middle;
	}


/* Layout */
/* Font-size */






/* Type */

	@font-face {
	    font-family: 'FontAwesome';
	    src: url('fonts/fontawesome-webfont.eot?v=4.2.0');
	    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
	    font-weight: normal;
	    font-style: normal
	}






/* Navigation */
	#wrapper {
		width: 100%;
	}

		#nav {
			width: 100%;
			height: auto;
			background-color: #fe3;
			display: block;
			text-align: center;
		}

		#nav .nav_header {
			height: 65px;

		}
			 #nav .nav_header #nav_toggle {
			 	float: right;
			 	width: 30px;
			 	height: 30px;
			 	margin-right: 40px;
			 	margin-top: 20px;
			 	background-color: transparent;
			 	border: 0;
			 	cursor: pointer;
			 }
			
			 #nav .nav_header button {
			 	font: normal normal normal 14px/1 FontAwesome;
				display: inline-block;
				color: #666;
				width: auto;
			 }

			 #nav .nav_header button:before {
				content: "\f0c9";
			 }

		 #nav .menu {
		 	width: 90%;
		 	padding-right: 5%;
		 	padding-left: 5%;
		 	margin-left: auto;
		 	margin-right: auto;
		 	text-align: center;
		 	border-bottom: 1px solid #F2F2F2;
		 	letter-spacing: 1px;
		 }

		 #nav .menu ul{
			margin: 0 auto;
			text-align: center;
			clear: both;
			

		 }

			 #nav .menu ul li {
				/*float: left;*/
				display: inline-block;

			 }


				 #nav .menu ul li a {
					text-transform:uppercase;
					line-height: 55px;
					font-weight: bold;
					text-decoration: none;
					margin: 0 15px;
					display: inline-block;
					color: #000;
				 }


/* Media queries */

	@media screen and (max-width: 768px) {
		#nav .menu {
			display: none;
		}
	}

	@media screen and (min-width: 768px) {
		#nav .menu {
			display: table !important;
			/*background-color: #efe;*/
		}

		#nav .nav_header {
			display: none;
		}
	}

































