*{
	list-style: none;
	margin: 0;
	border: 0;
	font-size: 12px;
}

.wrap{
	margin:auto;
	text-align: center;
	/*width: 500px;*/
	width: 85%;
	height: 600px;
}

.table-wrap{
	/*width: 400px;*/
	width: 90%;
	height: auto;
	position: relative;
	left: 50%;
	margin-left: -200px; /*表格居中*/
	margin: 0 auto;
	margin-bottom: 50px;
}

/*利用border实现边线*/
.table, .table th, .table tr, .table td{
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #dddddd;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

.table-wrap tbody{
	/*width: 400px;*/
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.table-wrap tr{
	width: 100%;
	height: 21px;
}

.table-wrap td, .table-wrap th{
	/*width: 200px;*/
	width: 50%;
	height: auto;
	padding: 10px 20px;

}

.first-child th{
	border: 0px;
	background-color: #bbbbbb;
}

.table tr:nth-child(2n+1){
	background-color: #eeeeee;
}


/*利用背景和border-spacing组合得到边线*/
/*不能实现间隔列，只能做两边*/
/*标题头的的间隔不能分开，因为border-spacing是正表的*/
.table-2{
	background-color: #dddddd; /* 对于整表来说的，不能单独对tr或者td */
	border-spacing: 1px;
}

.table-2 th{
	background-color: #bbbbbb;
}

.table-2 td{
	background-color: #ffffff;
	/*width: 200px;*/
	width: 50%;
}

.table-2 td:nth-child(2n+1){
	background-color: #eeeeee;
}






















